/* Override Bootstrap's .bg-primary class with a dark-green background */
.my-5 {
    margin-top: 0 !important;
}

.bg-primary {
    background-color: #2A5934 !important; /* dark green */
}

/* Primary buttons styled to match the dark-green theme */
.btn-primary {
    background-color: #2A5934 !important;
    border-color: #2A5934 !important;
    color: #fff;
}

    .btn-primary:hover, .btn-primary:focus {
        background-color: #254f2b !important; /* slightly darker for hover */
        border-color: #254f2b !important;
        color: #fff;
    }


.img-fluid{
    height: 300px;
}


.icon-circle {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h5.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

