@{
    Layout = "_Layout";
    ViewData["Title"] = "Страница не е намерена (404)";
}

<div class="container text-center mt-5">
    <h1 class="display-4">404</h1>
    <p class="lead">Съжаляваме, но страницата, която търсите, не може да бъде намерена.</p>
    <p>Моля, проверете URL адреса или се върнете към <a href="@Url.Action("Index", "Home")">Началната страница</a>.</p>
</div>
